[submodule "victoria_dotfiles"]
	path = victoria_dotfiles
  url = git@github.com:SirJls/victoria_dotfiles.git
[submodule "victoria_scripts"]
	path = victoria_scripts
  url = git@github.com:SirJls/victoria_scripts.git
[submodule "victoria_builds"]
	path = victoria_builds
  url = git@github.com:SirJls/victoria_builds.git
